                            <section class="work-section py-3">

                                <h3 class="text-uppercase resume-section-heading mb-4">{{ i18n "experiences" }}</h3>

                                {{ range .Site.Params.experience.list }}
                                <div class="item mb-5">

                                    {{ if .logo }}
                                    <div class="media flex-column flex-md-row align-items-center mb-3">
                                        <img class="resume-company-logo mb-3 mb-md-0 ml-md-0 rounded mx-auto" src="{{ .Site.BaseURL }}assets/images/{{ .logo }}" alt="image">
                                        <div class="media-body item-heading text-left center-on-mobile">
                                            <h4 class="item-title col-12">{{ .title }}</h4>
                                            <div class="item-meta col-12">{{ .company }}  ·  {{ .location }}  ·  {{ .dates }}</div>
                                        </div>
                                    </div>
                                    {{ else }}
                                    <div class="flex-column flex-md-row align-items-center mb-3 text-left center-on-mobile">
                                        <h4 class="item-title">{{ .title }}</h4>
                                        <div class="item-meta">{{ .company }}  ·  {{ .location }}  ·  {{ .dates }}</div>
                                    </div>
                                    {{ end }}
                                    <div class="item-content">
                                        <p>{{ with .details }}{{ . | markdownify }}{{ end }}</p>
                                        <ul class="resume-list">
                                            {{ range .items }}
                                            <li>{{ with .details }}{{ . | markdownify }}{{ end }}</li>
                                            {{ end }}
                                        </ul>
                                    </div>
                                </div><!--//item-->
                                {{ end }}

                            </section><!--//work-section-->
